@import '../../scss/variables/colors';

.navbar {
  align-items: center;
  border-top: 5px solid $blueBrand;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  width: 100%;

  .logout {
    cursor: pointer;
    color: black;
    font-size: large;
  }
}
